body{
  background-image: url("https://www.wallpaperstogo.com/images/product/large/201792.jpg");
  font-family: optima;
  color: #352f2f;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  background-color: #fefae0;

}

.nav-bar img{
  float: left;
  height: 150px;
  min-width: auto;
}

.options{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  top: 12%;
  display: table;
  transform: translateY(-50%);
  border-radius: 10px;
  border-style: double;
  border-color: rgb(211, 207, 67);
  border-width: 10px;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #605050;
  text-decoration: none;
  padding: 10px 40px;
  transition: 0.2s ease color;
  
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: rgb(85, 85, 75);
}

nav a:nth-child(1):after {
  background-color: rgb(165, 165, 83);
}

nav a:hover {
  color: rgb(113, 64, 64);
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

.index-teas-container main{
  margin-top: 220px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:10px;
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: double;
  border-color: rgb(199, 195, 80);
  border-width: 10px;
  background-color: #506050;
}

.tea-card{
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: groove;
  border-color: rgb(121, 119, 66);
  border-width: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.wallpapertip.com/wmimgs/160-1600587_kind-of-white-wallpaper-flowers-cream-gold-green.jpg");
}

.tea-card div{
  justify-content: center;
}

.show-container{
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: double;
  border-color: rgb(199, 195, 80);
  border-width: 10px;
  padding: 40px;
  margin-top: 140px;
  background-color: #506050;
}

.show-info{
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: groove;
  border-color: rgb(121, 119, 66);
  border-width: 10px;
  margin: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.show-info img{
  max-width: 400;
  max-height: 300px;
  padding: 20px;
}

.hrFancy {
  margin: 10px;
  border: 0;
  border-top: medium double rgb(111, 36, 36);
  height: 1px;
  overflow: visible;
  padding: 0;
  color: rgb(101, 59, 59);
  text-align: center;
}

.edit-container, .new-container{
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: double;
  border-color: rgb(199, 195, 80);
  border-width: 10px;
  padding: 40px;
  margin-top: 180px;
  background-color: #506050;
}

.edit-info, .new-info{
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: groove;
  border-color: rgb(121, 119, 66);
  border-width: 10px;
  margin: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fefae0;
}


.grid-wrapper{
  margin-top: 160px;
  align-items: center;
  justify-content: center;
  display: flex;

}

.image-container{


}

.login-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: double;
  border-color: rgb(199, 195, 80);
  border-width: 10px;
  margin-top: 45px;
  background-color: #506050;
}

.login-container{
  align-items: center;
  justify-content: center;
  background-color: #fefae0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: groove;
  border-color: rgb(121, 119, 66);
  border-width: 10px;
}

.register-container{
  align-items: center;
  justify-content: center;
  background-color: #fefae0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: groove;
  border-color: rgb(121, 119, 66);
  border-width: 10px;
}

.account-container{
  align-items: center;
  justify-content: center;
  background-color: #fefae0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 7px 15px -5px;
  border-style: groove;
  border-color: rgb(121, 119, 66);
  border-width: 10px;
}

.form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}